.footer {
  background-color: #023047;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 360px;
  font-family: "Poppins", sans-serif;
}
.footer-left,.footer-right{
    padding: 5rem;
    line-height: 1.7;
}
.footer-left h1,
.footer-left h2 {
  color: white;
  font-weight:bolder ;
}
.footer-left span {
  color: #ffb703;
  font-weight:bold ;
}
.footer-right ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}
.footer-right ul li a:hover{
  color: #ffb703;
}
.contact {
    margin-top: 1rem;
    padding: 0.5rem; 
    cursor: pointer;
}
.contact a{
  text-decoration: none;
  font-weight: bold;
}
.contact a:hover{
  color: #ffb703;
}
.icons i{
    color: #ffb703;
    font-size: 2rem;
    padding: 1rem;
}
.copyright{
  margin-top: 1rem;
}
.copyright p{
  color: #ffb703;
}

.footer {
  background-color: #023047;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 350px;
  font-family: "Poppins", sans-serif;
}
.footer-left,.footer-right{
    padding: 5rem;
    line-height: 1.7;
}
.footer-left h1,
.footer-left h2 {
  color: white;
  font-weight:bolder ;
}
.footer-left span {
  color: #ffb703;
  font-weight:bold ;
}
.footer-right ul li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
}
.footer-right ul li a:hover{
  color: #ffb703;
}
.contact {
    margin-top: 1rem;
    padding: 0.5rem; 
    cursor: pointer;
}
.contact a{
  text-decoration: none;
  font-weight: bold;
}
.contact a:hover{
  color: #ffb703;
}
.icons i{
    color: #ffb703;
    font-size: 2rem;
    padding: 1rem;
}
.copyright{
  margin-top: 1rem;
}
.copyright p{
  color: #ffb703;
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding: 5px;
    height: auto; 
  }
  
  .footer-left,
  .footer-right {
    padding: 1rem;
    text-align: center; 
  }
  
  .footer-right ul {
    text-align: center; 
  }
  .icons {
    margin-top: 1rem;
    margin-left:5rem;
  }
  .footer-right ul li {
    display: block; 
    margin-bottom: 10px; 
  }
}
